doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title App Store Swipe
    link(rel="stylesheet" type="text/css" href="./style.css")
  body

    .swipe#swipe-large
      ul
        - for(var i = 0; i < 8; i++)
          li
            a(href="#")
              img(src="images/302x148.png" alt="")
              
    .swipe#swipe-small
      ul
        - for(var i = 0; i < 8; i++)
          li
            a(href="#")
              img(src="images/144x144.png" alt="")

    script(src="./swipe.js")
