@import "nib"
global-reset()

*
  box-sizing border-box

img
  vertical-align middle
  width 100%

.swipe
  margin-top 20px

.swipe
  overflow hidden
  ul
    overflow hidden
    li
      float left
      padding 0 10px
